<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet"> 
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
  
</head>
<body>
  <div id="app" class="container">
    <!-- parte sinistra della pagina -->
    <aside class="left">
      <!-- parte sinistra della pagina -->
      <header>
        <div class="user">
          <div class="profilo">
            <img src="img/avatar_io.jpg" alt="">
            <span>Nome Utente</span>
          </div>

          <div class="icons-interaction">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
        
        <div class="notifiche">
         <i class="fas fa-bell-slash"></i>
          <ul>
            <li>Ricevi notifiche di nuovi messaggi</li>
            <li style="color: #507485; text-decoration: underline;">Attiva notifiche desktop</li>
          </ul>
        </div>
      </header>

      <section>
        <div class="search">
          <i class="fas fa-search" style="color: #B6B9BB;"></i>
          <input type="text" placeholder="Cerca o inizia una nuova chat">
        </div>

        <div class="contacts">
          <ul>
            <li v-for="(contact, index) in contacts"
                @click="clickChat"
                :class="chatActive"
                >
              <img :src="'img/avatar'+ contact.avatar +'.jpg'" alt="">
              <span class="contact-name">{{contact.name}}</span>
            </li>
          </ul>
        </div>
      </section>
    </aside>

    <!-- parte destra della pagina -->
    <main class="right">
      <section>
        <div class="friend">
          <img src="img/avatar_3.jpg" alt="">
          <ul>
            <li>Michele</li>
            <li style="color: #507485;">Ultimo acceso oggi alle</li>
          </ul>
        </div>
        <div class="send-friend">
          <i class="fas fa-search"></i>
          <i class="fas fa-paperclip"></i>
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </section>

      <main>
        <div v-for="(messagio,index) in contacts[counter].messages" class="chat">
          <ul v-if="messagio.status === 'sent'" class="send">
            {{messagio.text}}
          </ul>

          <ul v-if="messagio.status === 'received'" class="risposta">
            {{messagio.text}}
            <i class="fas fa-chevron-down"></i>
          </ul>
        </div>
      </main>

      <footer>
        <i class="far fa-smile"></i>
        <input type="text" placeholder="Scrivi un messagio">
        <i class="fas fa-microphone"></i>
      </footer>
    </main>

  </div>
  <script src="script/javascript.js"></script>
</body>
</html>